html {
    height: 100%;
}

body {
    margin: 0px;
    background-color: #2f3035;
    background-image: url(images/mh-general.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


main {
    height: 25px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;;
}

h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 140px;
}

p {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-bottom: 50px;
    padding-right: 330px;
    padding-left: 330px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 310px;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: grey;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

footer {
    background-color: rgba(0, 0, 0, 0.705);
    padding-top: 30px;
    padding-bottom: 20px;
}

footer p {
    font-size: 15px;
    text-align: center;
    color: rgb(198, 198, 198)
}
