html {
    height: 100%;
}

header {
    font-size: 44px;
    height: 118px;
    text-align: center;
    padding-top: 10px;
}

body {
    background-color: #2f3035;
    background-image: url(images/mh-general.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 40px;
    color: white;
    text-align: center;

}

nav {
    background-color: rgb(0, 0, 0, 0.400);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: auto;
    padding-right: auto;
}

main {
    height: 25px;
    text-align: center;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%)
}